@CHARSET "UTF-8";
/* INSTITUTES STYLES */ 

#sidebar {
  float: right;
  width: 205px;
  margin-right: 16px;
}

#columnInstitutes {
  float: right;
  width: 500px;
  margin-right: 15px; 
}

#columnInstitutesWide {
  float: right;
  width: 705px;
  margin-right: 15px; 
}

#columnSubNav {
  float: left;
  width: 205px; 
  background: url(../images/production/inside/institutesNew/bgMorgan.jpg) no-repeat top center;
  min-height: 625px;
}

#columnRight {
  float: right;
  width: 755px;
}

#contentInstitute {
  padding: 0 19px 10px 21px;
  background: url(../images/production/global/bgContent.jpg) repeat-y top center; 
  font-size: 13px;
}

#contentInstitute p {
  padding: 7px 0;	
  line-height: 20px;
}

#contentInstitute h2 {
  font-size: 18px;
  font-weight: bold;
  padding: 10px 0 4px 0;
  border-bottom: 1px dashed #CCC;
  color: #E80022;
}

#contentInstitute h3 {
  font-size: 13px;
  margin: 5px 0;
  font-weight: bold;
}

#contentInstitute h4 {
  font-size: 12px;
  font-weight: bold;
  padding-top: 7px;
}

#contentInstitute h5 {
  font-size: 14px;
  font-weight: bold;
  padding-top: 18px;
  color:#E80022;
  line-height: 14px;
}

#contentInstitute h6 {
  font-size: 12px;
  font-weight: bold;
  color:#E80022;
}

.subNavInstitutes {
  margin: 0 20px 0 7px;
  font-size: 11px;
  padding-bottom: 5px;
  border-bottom: 1px dashed #555;
}

.subNavInstitutes li {
  line-height: 12px;
  margin-bottom: 7px;
}

.subNavInstitutes li a {
  color: #222;
  text-decoration: none;
}

.subNavInstitutes li a:hover {
  color: #000;
  text-decoration: underline;
}

.paddingSubNav {
  padding: 5px 0 5px 0; 
}

#instituteSubNav {
  padding: 0 10px 0 20px;
}

#instituteSubNav h3 a {
  color: #222;
  text-decoration: none;
}

#instituteSubNav h3 a:hover {
  color: #000;
  text-decoration: underline;
}

#instituteBanner {
  width: 755px;
  height: 300px;
  padding-bottom: 15px;
}