body { padding-top: 0 !important; }

/* Home */

.carousel {
	margin-bottom: 0;
}

.carousel .container {
  	position: relative;
  	z-index: 10;
}

.carousel-control {
  	height: 80px;
  	margin-top: 0;
  	font-size: 120px;
  	text-shadow: 0 1px 1px rgba(0,0,0,.4);
  	background-color: transparent;
  	border: 0;
}

#home-carousel.carousel .item {
  	height: 434px;
}

#home-carousel.carousel .carousel-caption {
	background: none;
	top: 250px;
  	position: absolute;
  	left: 430px;
  	width: 578px
}

#home-carousel.carousel .carousel-caption h1 {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
    color: #FFFFFF;
    font-size: 32px;
    font-weight: 400;
    margin: 0;
    padding: 14px;
    width: 480px;
}

#home-carousel.carousel .carousel-caption .white-box {
	background: #FFFFFF;
	display: inline-block;
	min-height: 40px;
	margin-left: 25px;
	padding: 14px;
	width: 480px;
	font-size: 13px;
	line-height: 16px;
}

#home-carousel.carousel .carousel-caption .white-box p {
	color: #666666;
	float: left;
	width: 400px;
}

#home-carousel.carousel .carousel-caption .white-box a {
    background: url("../img/carousel-link.jpg") no-repeat scroll center center #FFFFFF;
    float: right;
    height: 40px;
    margin: -14px -14px 0 0;
    padding: 14px;
    width: 34px;
}

[class^="icon-"],
[class*=" icon-"]
{
	background-image: none;
	line-height: inherit;
}

.normal-line-height { line-height: normal; }
.inherit-line-height { line-height: inherit; }

.numbers {
	background: #EDEDED url("../img/bg-gray.png");
	padding-bottom: 20px;
	padding-top: 20px;
}

.numbers a {
	color: #33518F;
	display: inline-block;
	padding: 10px;
}

.numbers a p {
	color: #444;
	height: 50px;
}

.numbers a:hover {
	text-decoration: none;
	background: #fefefe;
}

.numbers h3 {
	font-weight: 400;
}

.numbers h4 {
	color: #33518F;
	font-family: 'Helvetica Neue', 'pragmatica-web', Helvetica, sans-serif;
	font-size: 28px;
	line-height: 32px;
	font-weight: 100;
	margin: 0;
}

.numbers h4 span {
	font-family: 'myriad-pro', Helvetica, sans-serif;
	font-size: 18px;
	font-weight: 500;
	display: block;
}

.numbers p {
	font-weight: 300;
}

h3.red {
	color: #91392E;
}

.date-list section {
	padding: 10px 0;
	border-top: 1px dotted #dedede;
}

.date-list section:hover {
    background: #FAFAFA;
}

.date-list section.last {
	border-bottom: 1px dotted #dedede;
	margin-bottom: 22px;
}

.date-list section a:hover {
	text-decoration: none;
	background: #efefef;
}

.date-list section a p {
	color: #444;
}

.date-list section .cal-date {
	color: #91392E;
	font-weight: 500;
	text-align: center;
	font-size: 32px;
	padding: 10px 20px 10px 0;
}

.date-list section .cal-date span {
	font-size: 16px;
	line-height: 18px;
	text-transform: lowercase;
	display: block;
}

.date-list section i {
	margin: 15px 0 0 0;
}

.date-list section h4 {
	margin: 8px 0 0 0;
	line-height: 18px;
	font-weight: 400;
	font-size: 16px;
}

.date-list section h4,
.date-list section h4 a {
    color: #91392E;
    font-size: 18px !important;
    font-weight: 300;
    width: 270px;
}


.date-list section p {
	font-size: 12px;
	margin-bottom: 0;
}

.news section {
	float: left;
	height: 110px;
	margin-right: 30px;
	margin-bottom: 20px;
	width: 285px;
}

.news section img {
	border: 1px solid #DDDDDD;
	float: left;
	margin-right: 8px;
	margin-bottom: 8px;
}

.news section h4 {
	margin: 0px 0 4px 0;
	line-height: 18px;
	color: #222;
	font-weight: 400;
}

.news section a {
	color: #777;
	display: inline-block;
}

.news section a:hover {
	text-decoration: none;
	color: #91392E;
}

.news section a h4 {
	color: #222;
	font-size: 14px;
}

.news section a:hover h4 {
	color: #91392E;
}

.news section p {
	margin-bottom: 0;
	font-size: 13px;
	line-height: 14px;
	font-weight: 300;
}

.news-list a {
    display: block;
    margin-bottom: 22px;
}


.event-list {
	list-style: none outside none;
    margin: 0;

	li {
		background: #FCFCFC;
	    float: left;
	    margin: 0 1%;
	    min-height: 150px;
	    padding: 7px;
	    position: relative;
	    width: 30%;
	    
	    a {
	    	bottom: 8px;
	    	position: absolute;
	    	right: 8px;
	    }
	}
}


/* Events / Calendar */

.calendar-calendar .item {
    border: 1px solid #E8E8E8;
    display: block;
    margin-bottom: 8px !important;
    text-align: left;
}

.calendar-calendar .item a {
    background: none repeat scroll 0 0 #FBFBFB !important;
    font-size: 12px;
    cursor: pointer;
    display: block;
    line-height: normal;
    padding: 4px 8px !important;
    text-align: left;
}

.calendar-calendar .item a:hover {
    background: none repeat scroll 0 0 #EBEBEB !important;
}

.calendar-calendar .month-view .full tr td.single-day.today,
.calendar-calendar .month-view .full tr td.today,
.calendar-calendar .month-view .full tr.odd td.today,
.calendar-calendar .month-view .full tr.even td.today

{
	border-color: @uclawred !important;
}


/* Content */

#content #main {
	font-size: 16px;
	line-height: 28px;
	font-weight: 300;
}

#content #main [class^="icon-"],
#content #main [class*=" icon-"] {
	line-height: 21px;
}

#main h2 {
	font-size: 24px;
	line-height: 28px;
}

#main h3 {
	font-size: 22px;
	line-height: 24px;
}

#main h4 {
	font-size: 20px;
	line-height: 22px;
}

#main h5 {
	font-size: 18px;
	line-height: 20px;
}

#main h6 {
	font-size: 16px;
	line-height: 18px;
	font-weight: 700;
}




#content #main img.pull-right {
	margin: 25px 0 25px 25px;
}

#content #main .table {
	font-size: 14px;
}

#content #main .carousel {
    margin-bottom: 25px;
}

#content #main .carousel-caption {
    font-size: 12px;
    line-height: 14px;
}

#content #main .banner-inside {
	margin-bottom: 25px;
}

#content #main h1 {
	color: #91392E;
}

#content #sidebar {
	font-size: 14px;
}

#content #sidebar h3 {
	font-size: 20px;
	margin-top: 10px;
	font-weight: 400;
}

#content #sidebar .block-menu > ul.menu {
	margin: 0 0 25px 0;
}

#content #sidebar .block-menu > ul.menu li {
	list-style: none;
}

#content #sidebar .block-menu > ul.menu li a {
	padding: 10px;
	border-bottom: 1px dashed #efefef;
	display: block;
	font-size: 14px;
}

#content #sidebar .block-menu > ul.menu li a:hover,
#content #sidebar .block-menu > ul.menu li a:active,
#content #sidebar .block-menu > ul.menu li a:focus
{
	text-decoration: none;
}

#content #sidebar .block-menu > ul.menu li a:hover {
	background: #f3f3f3;
	color: #91392E
}

#content #sidebar .block-menu > ul.menu li ul li a {
	padding: 0 10px;
}

#content #sidebar .click-area {
    cursor: pointer;
    float: right;
    margin-bottom: -10px;
    margin-right: -10px;
    margin-top: -10px;
    padding: 12px 15px;
    position: relative;
}

#content #sidebar .title {
	float: left;
	display: inline-block;
}

@media @wide { #content #sidebar .title { width: 210px; } }
@media @normal { #content #sidebar .title { width: 160px; } }
@media @tablet { #content #sidebar .title { width: 106px; } }
@media @mobile {
	#content #sidebar .title { width: auto; }
	#content #sidebar .click-area { padding: 13px 5px; }
}


#mobile-submenus {
    background: #B80000;
    color: #FAFAFA;
    display: block;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
}

#mobile-submenus:hover {
	text-decoration: none
}

#mobile-submenus i {
	margin: 0 10px;
	line-height: 16px;
}

/* Faculty */

.faculty-social i {
	display: inline-block;
	text-align: right;
	width: 16px;
}

.faculty-social a.fb { color: #3B5998; }
.faculty-social a.tw { color: #4099FF; }

.nobullet {
	list-style: none;
}

.list-space li {
	margin-bottom: 15px;
}

.icons-ul li i {
    font-size: 15px;
    margin-left: -25px;
    margin-right: 5px;
}

.view-faculty-members .thumbnail {
	display: block;
	padding: 4px;
	line-height: 20px;
	border: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.055);
	-moz-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.055);
	box-shadow: 0 0px 0px rgba(0, 0, 0, 0.055);
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	text-align: center;
    height: 230px;
    overflow: hidden;
}

.view-faculty-members a.thumb-wrap {
	display: inline;
	height: 120px;
	overflow: hidden;
	}
    
.view-faculty-members a.thumb-wrap img {
    max-height: 150px;
    max-width: 150px;
	}

.view-faculty-members .thumbnail h3 {
	font-size: 16px;
	line-height: 19px;
	height: 40px;
	overflow: hidden;
	text-transform:none;
	font-weight: 500;
	margin: 20px 0 0 0;
	padding: 0;
}

.view-faculty-members .thumbnail p.title {
	font-size: 12px;
	line-height: 14px;
	font-weight: 400;
	margin: 0px 0 0 0;
	padding: 0;
}

.view-faculty-members .thumbnail a {
	display: inline-block;
	color: #444;
}


/* Control panel overlay */
#overlay-container,
.overlay-modal-background,
.overlay-element
{
	padding-top: 30px;
}

/* Responsive */

@media @wide {
	.date-list section h4,
	.date-list section h4 a {
	    width: 340px;
	}

}

@media @normal {
	.event-list li {
		width: 29%;
	}

}

@media (max-width: 979px) {
	.event-list li {
		float: none;
		display: block;
		width: auto;
	}
}

@media @tablet {

	.date-list section h4,
	.date-list section h4 a {
	    width: 190px;
	}
	
}

@media @mobile {
	
	body {
		padding-left: 0;
		padding-right: 0;
	}
	
	.container {
		padding-left: 20px;
		padding-right: 20px;
	}
	
	.date-list section h4,
	.date-list section h4 a {
	    width: auto;
	}
	
}
