@CHARSET "UTF-8";

a:link, a:visited {
    color: #E0001F;
    text-decoration: none;
}

/* BANNER STYLES */ 

#bannerHome {
  background: url(../images/production/home/bgBanner.jpg) no-repeat top center; 
  height: 325px;
  padding: 0 20px;
}

#bannerInside {
  background: url(../images/production/home/bgBanner.jpg) no-repeat top center; 
  height: 200px;
  padding: 0 20px;
}

h1.title {
	font-size: 1.7em;
	border-bottom: 2px solid #FF0000;
	margin: 0 0 12px;
	padding-bottom: 5px;
}

/* CONTENT STYLES */   

#content {
  padding: 10px 35px;
  background: url(../images/production/global/bgContent.jpg) repeat-y top center; 
  font-size: 13px;
}

#content p {
  padding: 7px 0;	
  line-height: 20px;
}

#content h2 {
  font-size: 18px;
  font-weight: bold;
  padding: 10px 0 4px 0;
  border-bottom: 1px dashed #CCC;
  color: #E80022;
}

#content h3 {
  font-size: 13px;
  margin: 5px 0;
  font-weight: bold;
}

#content h4 {
  font-size: 12px;
  font-weight: bold;
  padding-top: 7px;
}

#content h5 {
  font-size: 14px;
  font-weight: bold;
  padding-top: 18px;
  color:#E80022;
  line-height: 14px;
}

#content h6 {
  font-size: 12px;
  font-weight: bold;
  color:#E80022;
}

.body .node-inner .content {font-size: 1em; line-height: 1.6em;}
/**.body .node-inner .content p:first-child {
    border-bottom: 1px solid #CCCCCC;
    font-size: 1.1em;
    line-height: 1.6em;
    margin-bottom: 1.6em;
    padding-bottom: 2em;
}**/

.body .node-inner .content p {
    line-height: 1.6em;
    margin-bottom: .6em;
}

.body .node-inner .content ul {
    margin: 15px 25px;
}

.body .node-inner .content ul li {
    list-style: square;
    padding-bottom: 4px;
}

.body .node-inner .content h2 {
	font-size: 1.8em;
}

.body .node-inner .content h3 {
	font-family: 'Trebuchet MS',Arial,Tahoma,Verdana;
	font-size: 1.4em;
	margin: 6px 0;
}

/*hider for attachments*/

.body .node-inner .content #attachments {
	display: none;
}
/* COLUMNS STYLES */

#column {
  float: right;
  width: 725px; 
}

#columnAlt {
  float: right;
  width: 475px;
  margin-right: 20px;
}

#columnThin {
  float: left;
  width: 200px; 
}

#columnA {
  float:left;
  width: 310px;
}

#columnB {
  float:right;
  width: 310px;
  margin-top:25px;
}

.subColumnA {
  float: left;
  display: inline;
  width: 225px;
  margin-right: 7px;
}

.subColumnB {
  float: left;
  display: inline;
  width: 260px;
} 

.subColumnC {
  float: left;
  display: inline;
  width: 255px;
} 

.subColumnD {
  float: left;
  display: inline;
  width: 300px;
} 

/* WRAPPER STYLES */

.wrapperColumnHome {
  padding: 0 15px;
  min-height: 180px;
}

.wrapperColumnHome p {
  font-size: 11px;
}

.wrapperColumnHome p a {
  color: #000;
}

.wrapperColumnHome p a:hover {
  color: red;
}

/* FEATURE STYLES */  

.photoThumb {
  background: url(../images/production/global/bgPhotoThumb.jpg) no-repeat top center;
  width: 225px;
  height: 120px;
}

.photoThumb img {
  margin: 13px 0 0 13px;
  border: 1px solid #777;
}

/* FONT STYLES */  

.highlight {
  font-size: 12px;
}

.right {
  text-align: right;
}

/* FLOAT STYLES */  

.floatLeft {
  float: left;
  margin: 10px 10px 0 0;
}

.floatRight {
  float: right;
  margin: 20px 0px 20px 20px;
  padding: 5px;
  border: double #EFEFEF;
  text-align: center;
}

.floatRight img {
  border: 2px solid #ccc;
}

.right {
  text-align: right;
}

/* LIST STYLES */  

.listSquare {
  margin: 20px;  
}

.listSquare li {
  margin: 5px 0;
  list-style: square;
  text-align: left;
}

.listInline {
  margin: 20px;  
}

.listInline li {
  margin: 0 5px;
  display: inline;
  list-style: none;
}

/* RIGHT COLUMN STYLES */  

#columnThinRight {
	float: right;
	width: 210px;
	padding-top:20px;
	padding-right:15px;	
	padding-bottom: 20px;	
	font-size: 80%;
	line-height:165%;
	}
		
.resources {
	width:190px;
	margin:20px 0 20px 20px;
	background:#F7F7F7;
	border:double #dedede;
	padding:10px;
	text-align: center;
	float: right;
	}	

.resources p { 
	font-size: 11px;
	font-style: italic;
	padding-bottom: 7px; 
	}	
	
.resources img { 
	border: 2px solid #ccc;
	}		
