/******************************
 Global CSS for ALL menu types
******************************/

.block-menu_block ul.menu,
.block-menu_block ul.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.block-menu_block ul.menu li {
  /* Additional overrides to deal with Garland theme. */
  margin: 0;
  padding-left: 0;
  background-image: none;
}

/* Overrides for Garland header. */
#header-region .block-menu_block ul.menu li {
  margin: 0;
  /* Padding rules are needed to deal with Garland's header line-height. */
  padding-top: 0.1em;
  padding-bottom: 0.1em;
}

.block-menu_block ul.menu a,
.block-menu_block ul.menu span.nolink {
	display: block;
  padding: 0.3em 5px 0.3em 5px;
}

.block-menu_block ul.menu ul,
/* Repeat for Garland header. */
#header-region .block-menu_block ul.menu ul {
  top: 1.8em;
  left: -1px;
  border: 0;
  margin-right: 0;
}

/* Override for Garland header. */
#header-region .block-menu_block ul.menu ul {
  top: 1.7em;
}

.block-menu_block ul.menu ul li {
  width: 12.5em;
}

li.menuparent:hover ul {
	display: block;
}

/******************************
 VERTICAL (left/right) menus
******************************/

/* This is the default width of all vertical menus. */
.block-menu_block ul.menu,
.block-menu_block ul.menu li {
  width: 180px;
}

/* VERTICAL menus where submenus pop RIGHT (default). */
.block-menu_block ul.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  border: none;
  background: #FFF;
  position: relative;
  width: 180px;
  display: block;
}

.block-menu_block ul.menu ul {
	margin: 0;
	padding: 0;
	top: 0;
	border: none;
	list-style: none outside none;
	position: relative;
	display:none;
}

.block-menu_block ul.menu li.active ul {
	display: block;
}

.block-menu_block ul.menu li.active ul ul {
	display: none;
}

.block-menu_block ul.menu li.menuparent:hover ul {
}

.block-menu_block ul.menu li {
	cursor:pointer;
	font-size:11px;
	line-height: 14px;
	font-weight: bold;
	margin-bottom:0;
	margin-top:10px;
	border: none;
	background: none;
	visibility: visible;
	padding: 0 0 0 15px;
}

.block-menu_block ul.menu a,
.block-menu_block ul.menu span.nolink {
	padding:2px;
  text-decoration: none;
  color: #333;
	visibility: visible;
	font-size: 1.2em;
}


.block-menu_block ul.menu .menuparent>a,
.block-menu_block ul.menu .menuparent>span.nolink {
	color: #860000;
	font-family: Times, "Times New Roman", Georgia, serif;
	font-size: 1.4em;
	font-weight: normal;
}	

.block-menu_block ul.menu ul li {
	
	font-size:11px;
	font-weight: normal;
	width: 12.5em;
	background: none;
	border: none;
	margin: 0;
	padding: 0;
	visibility: visible;
}

.block-menu_block ul.menu ul ul {
	display: none;
}
.block-menu_block ul.menu ul li a {
	background: none;
	border: none;
	text-decoration: none;
	visibility: visible;
}


.block-menu_block ul.menu li a.active {
    color: #860000;
    font-family: Times,"Times New Roman",Georgia,serif;
    font-size: 1.4em;
    font-weight: normal;
    margin-bottom: .6em;
}
.block-menu_block ul.menu a:hover {
	color: #860000;
}

.block-menu_block li.expanded, 
.block-menu_block li.collapsed, 
.block-menu_block li.leaf {
	list-style: none outside none;
}

.sidebar-left .block-menu_block .content>div {
    background: url("../images/side-menu-bkg.png") no-repeat scroll left bottom transparent;
    margin-bottom: 12px;
    padding-bottom: 12px;
}
.sidebar-left .block-menu_block .content>div>ul {
    background: url("../images/side-menu-bkg.png") no-repeat scroll left top transparent;
    padding-top: 12px;
}
#subnav ul {
    color: #857240;
    font-size: 10px;
    height: 15px;
    padding: 4px 20px 0;
    text-align: right;
}
#subnav ul li:after {
    content: " | ";
}
#subnav ul li.last:after {
    content: "";
}
#subnav ul li {
    display: inline;
    margin: 0;
    padding: 0;
}
#subnav ul li a {
    color: #423F32;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}