/* $Id: nice_menus_default.css,v 1.6 2007/10/29 16:38:28 add1sun Exp $ */
/*
  This is the default layout template for nice menus, and will provide
  a starting point for the look of your menus. To customize, it's
  recommended to create a custom CSS file using this file as a template,
  then configure the module to use your custom CSS file
  (this is done in the global settings tab of the theme administration.)

  To help understand the CSS, the HTML looks like this, where
    x is a number;
    TYPE is down/left/right;
    PATH is the menu path such as node/343;
    MID is the menu id such as 33):
  <ul id='nice-menu-x' class='nice-menu nice-menu-TYPE'>
    <li id='menu-MID' class='menu-path-PATH'><a href='#'>This is a menu item</a></li>
    <li class='menuparent menu-path-PATH'><a href='#'>A submenu</a>
      <ul...><li...>...</li>
      </ul>
    </li>
    ...
  </ul>

  If you have more than one nice-menu and want to target a particular one,
  use its id (e.g. ul#nice-menu-2).

  See README.txt and the handbook page (http://drupal.org/node/185543)
  for some CSS customization examples.
*/

/******************************
 Global CSS for ALL menu types
******************************/

ul.nice-menu,
ul.nice-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.nice-menu li {
  float: left;
  /* Additional overrides to deal with Garland theme. */
  margin: 0;
  padding-left: 0;
  background-image: none;
}

/* Overrides for Garland header. */
#header-region ul.nice-menu li {
  margin: 0;
  /* Padding rules are needed to deal with Garland's header line-height. */
  padding-top: 0.1em;
  padding-bottom: 0.1em;
}

ul.nice-menu a,
ul.nice-menu span.nolink {
	display: block;
  padding: 0.3em 5px 0.3em 5px;
}

ul.nice-menu ul,
/* Repeat for Garland header. */
#header-region ul.nice-menu ul {
  top: 1.8em;
  left: -1px;
  border: 0;
  margin-right: 0;
}

/* Override for Garland header. */
#header-region ul.nice-menu ul {
  top: 1.7em;
}

ul.nice-menu ul li {
  width: 12.5em;
}

li.menuparent:hover ul {
	display: block;
}

/******************************
 VERTICAL (left/right) menus
******************************/

/* This is the default width of all vertical menus. */
ul.nice-menu-right, ul.nice-menu-left,
ul.nice-menu-right li, ul.nice-menu-left li {
  width: 180px;
}

/* VERTICAL menus where submenus pop RIGHT (default). */
ul.nice-menu-right {
  list-style: none;
  padding: 0;
  margin: 0;
  border: none;
  background: #FFF;
  position: relative;
  width: 180px;
  top: -1px;
}

ul.nice-menu-right ul {
	margin: 0;
	padding: 0;
	top: 0;
	border: none;
	list-style: square outside none;
	display: none;
	visibility: visible;
	position: relative;
}

ul.nice-menu-right li.menuparent:hover ul {
	display: none;
}

ul.nice-menu-right li {
	cursor:pointer;
	font-size:12px;
	font-weight: bold;
	margin-bottom:0;
	margin-top:10px;
	float: left;
	border: none;
	background: none;
	visibility: visible;
	padding: 0 0 0 15px;
}

ul.nice-menu-right a,
ul.nice-menu-right span.nolink {
	padding:2px;
  text-decoration: none;
  color: #333;
	visibility: visible;
	font-size: 1.2em;
}


ul.nice-menu-right .menuparent>a,
ul.nice-menu-right .menuparent>span.nolink {
	color: #860000;
	font-family: Times, "Times New Roman", Georgia, serif;
	font-size: 1.4em;
	font-weight: normal;
}	

ul.nice-menu-right ul li {
	
	font-size:11px;
	font-weight: normal;
	width: 12.5em;
	background: none;
	border: none;
	margin: 0;
	padding: 0;
	visibility: visible;
}

ul.nice-menu-right ul li a {
	background: none;
	border: none;
	text-decoration: none;
	visibility: visible;
}

ul.nice-menu-right a:hover {
	color: #860000;
}

ul.nice-menu-right li.menuparent:hover,
ul.nice-menu-right li.over,
ul.nice-menu-right li li.menuparent:hover,
ul.nice-menu-right li li.over {
}

/* VERTICAL menus where submenus pop LEFT. */
ul.nice-menu-left li ul {
  width: 12.5em;
  left: -12.65em;
  top: -1px;
}

ul.nice-menu-left li ul li ul {
  width: 12.5em;
  left: -12.65em;
  top: -1px;
}

ul.nice-menu-left li.menuparent,
ul.nice-menu-left li li.menuparent {
  background: #eee url(arrow-left.png) left center no-repeat;
}

ul.nice-menu-left li.menuparent:hover,
ul.nice-menu-left li.over,
ul.nice-menu-left li li.menuparent:hover,
ul.nice-menu-left li li.over {
  background: #ccc url(arrow-left.png) left center no-repeat;
}

ul.nice-menu-left a, ul.nice-menu-left ul a {
  padding-left: 14px;
}

/******************************
 HORIZONTAL (down) menus
******************************/

ul.nice-menu-down {
  float: left;
  border: 0;
  color:#FFFFFF;
  position: relative;
  text-shadow: 0px 1px 2px #666666;
  filter: dropshadow(color=#666666, offx=0, offy=1); 
}

ul.nice-menu-down li {
  background: url('../images/law-school-nav-div.png') no-repeat top right;
  border: none;
  font-size: 1.175em;
  margin: 0;
  padding: 9px 19px;
  position: relative;
}

ul.nice-menu-down ul {
	position: absolute;
	top:45px;
}

ul.nice-menu-down li li {
  border: none;
}

ul.nice-menu-down ul {
  top:44px;
  background: #CF0101;
  border: none;
  border-top: #AE0000 6px solid;
  left: 0;
  display: none;
  font-size: .85em;
}

ul.nice-menu-down ul li {
  clear: both;
  background: none;
  border:none;
  margin: 0 10px;
  border-bottom: #AE0000 1px solid;
}

ul.nice-menu-down li:last-child {
	background: none;
	border: none;
}
ul.nice-menu-down li ul li ul,
/* Repeat for Garland header. */
#header-region ul.nice-menu-down li ul li ul {
  left: 12.5em;
  top: -1px;
}

ul.nice-menu-down a {
  color:#ededed;
  text-decoration:none;
}

ul.nice-menu-down>li:hover,
/* Repeat for Garland header. */
#header-region ul.nice-menu-down>li:hover {
	}
	
ul.nice-menu-down li:hover a,
/* Repeat for Garland header. */
#header-region ul.nice-menu-down li:hover a {
	color: #fff;
	}

ul.nice-menu-down li:hover li a,
/* Repeat for Garland header. */
#header-region ul.nice-menu-down li:hover li a {
	color: #fff;
	}
	
ul.nice-menu-down ul li.hover a,
/* Repeat for Garland header. */
#header-region ul.nice-menu-down ul li.hover a {
	}

ul.nice-menu-down li li.hover,
/* Repeat for Garland header. */
#header-region ul.nice-menu-down li li.hover {
  background: none;
}

ul.nice-menu-down li:hover ul {
	display: block;
}


ul.nice-menu-down li:hover ul ul {
	display: none;
}
/* Special Types for Sections */

/* Institutes section */

.node-type-institute ul.nice-menu-right {
background:none repeat scroll 0 0 transparent;
border:medium none;
list-style:none outside none;
margin:10px 8px 0 30px;
padding:0;
position:relative;
top:-1px;
width:160px;
}

.node-type-institute ul.nice-menu-right li {
margin: 2px 0;
width:160px;
background:none repeat scroll 0 0 transparent;
border:medium none;
cursor:pointer;
float:left;
font-size:11px;
}

.node-type-institute ul.nice-menu-right a,
.node-type-institute ul.nice-menu-right span.nolink {
background:none repeat scroll 0 0 transparent;
border:none;
color:#333333;
text-decoration:none;
padding: 0;
}

.node-type-institute ul.nice-menu-right li.menuparent {
	font-size:13px;
	font-weight:bold;
	margin:5px 0;
	padding-bottom: 5px;
	border-bottom: 1px dashed #000;
}

.node-type-institute ul.nice-menu-right ul,
.node-type-institute ul.nice-menu-right li.menuparent:hover ul {
	margin-left: 10px;
	font-weight: normal;
	display: block;
	}

.node-type-institute ul.nice-menu-right ul li {
display: block;
}

.node-type-institute ul.nice-menu-right ul li:hover a {
text-decoration: underline;
}

/* Intitutes main */

#block-nice_menus-13 {
	background: #000;
}

#nice-menu-13 {
	margin: 0;
	padding: 0;
}

#nice-menu-13 li,#nice-menu-13 li a {
	height: 61px;
	width: 205px;
	margin: 0;
	padding: 0;
}
#nice-menu-13 li a {
	text-indent: -200em;
}

#nice-menu-13 ul {
	display: none;
}

#nice-menu-13 li#menu-1557 {
	background: url("../assets/images/production/inside/institutesNew/intcorpLaw.png") no-repeat;
}
#nice-menu-13 li#menu-1635 {
	background: url("../assets/images/production/inside/institutesNew/intpractive.png") no-repeat;
}
#nice-menu-13 li#menu-1645 {
	background: url("../assets/images/production/inside/institutesNew/instweaver.png") no-repeat;
}
#nice-menu-13 li#menu-2753 {
	background: url("../assets/images/production/inside/institutesNew/intoip.png") no-repeat;
}
#nice-menu-13 li#menu-1762 {
	background: url("../assets/images/production/inside/institutesNew/inturban.png") no-repeat;
}
#nice-menu-13 li#menu-2693 {
	background: url("../assets/images/production/inside/institutesNew/rgsj.png") no-repeat 7px 0;
	padding: 0 0 12px 0;
}
