#content {
	padding: 0px 20px;
}

.block-banner {
	padding: 0;
}
/* Headline blocks */
.col1 {
	float: left;
	}

.headlines {
	width: 320px;
	background: #000;
	color: #FFF;
	}
	
.headlines.other {
	height: 362px;
	float: right;
	overflow: hidden;
	}

.headlines.connect {
	height: 80px;
	margin-top: 9px
	}

.contact-info-block div {
	float: left;
	margin: 0 4px;
	width: 115px;
	text-align: center;
	font-weight: bold;
}

.headlines h5,
.half h5 {
	height: 30px;
	line-height: 30px;
	padding-left: 18px;
	margin-bottom: 10px;
	font-family: "myriad-pro-1","myriad-pro-2",arial,sans-serif;
	text-transform: uppercase;
	font-weight: normal;
	color: #fff;
	font-size: 16px;
	}

.headlines li {
	margin: 0 auto;
	padding: 11px 20px 13px;
	line-height: 16px;
	font-size: 12px;
	border-top: 1px solid #d9d9d9
	}
	
.headlines li p {
	margin-bottom: 3px;
	}
	
.headlines li a.more {float: right; font-size: 10px; font-weight: bold; font-style: italic; color: #666}
	
.headlines li:first-child {border-top: none; }
		
.headlines h3 {color: #000; font-style: italic; margin-bottom: 3px}

.headlines a { text-decoration: none;}
.headlines a:hover {text-decoration: underline;}

/* Connect With Us */	

.headlines.connect h5 {margin-bottom: 8px}

.headlines.connect a,
#footerSomed a {
	width: 37px;
	height: 40px;
	margin-right: 3px;
	display: block;
	float: left;
	background: url(images/somed.png) no-repeat
	}

.headlines.connect a:first-child, #footerSomed a:first-child {margin-left: 15px}
.headlines.connect a.fb, #footerSomed a.fb {background-position: -2px}
.headlines.connect a.tw, #footerSomed a.tw {background-position: -48px}
.headlines.connect a.in, #footerSomed a.in {background-position: -95px}
.headlines.connect a.rss, #footerSomed a.rss {background-position: -142px}

.headlines.connect a.fb:hover, #footerSomed a.fb:hover {background-position: -184px}
.headlines.connect a.tw:hover, #footerSomed a.tw:hover {background-position: -230px}
.headlines.connect a.in:hover, #footerSomed a.in:hover  {background-position: -277px}
.headlines.connect a.rss:hover, #footerSomed a.rss:hover  {background-position: -324px}
	
/* Featured block */

#homeFeatured {
	width: 640px;
	height: 362px;
	float: left;
	position: relative;
	}

#homeFeatured div {
	width: 600px;
	height: 50px;
	line-height: 50px;
	padding: 0 20px;
	position: absolute;
	bottom: 0;
	left: 0;
	background: #000;
	color: #fff;
	font-size: 12px
	}

#homeFeatured h2 {float: left; padding: 0;}	
#homeFeatured a {line-height: 55px; font-size: 12px; float: right; font-style: italic; color: #fff}

/* Popular Stories */

#storiesWrap {
	width: 960px;
	position: relative;
	margin: 0;
	background: #fff;
	padding-top: 10px;
	}
	
#stories {
	width: 900px;
	height: 184px;
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	}
	
#stories a {
	text-decoration: none;
	color: #555;
	}
	
#stories a:hover {
	text-decoration: underline;
	}	
	
#stories h5 {
	margin-bottom: 6px;
	font-size: 16px;
	color: #000;
	font-family: "myriad-pro-1","myriad-pro-2",arial,sans-serif;
	text-transform: uppercase;
	font-weight: normal;
	}
	
#stories ul {
	position: absolute;
	width: 20000em;
	}
	
#stories ul li {
	width: 140px;
	float: left;
	margin-right: 12px;
	display: block;
	font-size: 11px;
	line-height: 15px;
	text-align: center;
	font-weight: bold;
	}
	
#stories ul li .popular-stories {
	height: 103px;
	width: 138px;
	overflow: hidden;
	}	
	
#stories ul li .popular-stories img {
	min-height: 103px;
	width: 138px;
	background: #ededed;
	}		
	
#storiesWrap a.browse {
	width: 35px;
	height: 41px;
	position: absolute;
	top: 75px;
	background: url(/sites/all/themes/uclaw/assets/images/production/secondary/navBtns.png) no-repeat;
	display: block
	}
	
#storiesWrap a.next {right: 0; background-position: left -40px}
#storiesWrap a.next:active {background-position: left -80px}

#storiesWrap a.prev {left: 0;}
#storiesWrap a.prev:active {background-position: left -122px}

/* Thirds */

.third {
	width: 460px;
	height: 192px;
	margin-bottom: 10px;
	background: #fff;
	border: 1px solid #d9d9d9;
	float: left;
	margin-left: 10px;
	-moz-box-shadow: 2px 2px 8px #BFBEBD;
	overflow: hidden;
	}
	
.third.first {}

.third h4 {
	margin: 0 auto 14px auto;
	padding: 0 12px 7px;
	font-family: "myriad-pro-1","myriad-pro-2",arial,sans-serif;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 16px;
	background: #000;
	color: #FFF;
	}
	
.third h4 a {
	color: #E26D20;
	}	
	
.third ul, .third p {
	width: 400px; 
	margin: 0 auto; 
	line-height: 16px;
	font-size: 12px;
	}

.third p {width: 278px}
.third ul {list-style-type: disc}
.third li {*margin-left: 18px}
.third a {text-decoration: none;}
.third a:hover {text-decoration: underline;}
	