@charset "UTF-8";

/* GLOBAL STYLES */

body {
  background: #D2C7A0 url(../assets/images/production/global/bg.jpg) top center;
  font-family:'Trebuchet MS',Arial,Tahoma,Verdana;
  font-size: 12px;
  color: #555;
}

.clear {
  height: 1px;
  clear: both;
}

a:link, a:visited {
  color: #E0001F;
  text-decoration: none;
}

a:hover {
    color: #444;
  text-decoration: underline;
}
  
/* STRUCTURE STYLES */    

#container {
  background: url(../assets/images/production/global/bgContainer.jpg) repeat-x top center;
  width: 100%;
}

#wrapper {
  width: 1000px;
  margin: 0 auto;
}

span.submitted {
	display:none;
}

.content-col-narrow {
	width: 470px;
	float: left;
}

/* HEADER STYLES */  

#subnav ul {
  font-size: 10px;
  color: #857240;
  text-align: right;
  height: 15px;
  padding: 4px 20px 0 20px;
}	

#subnav ul li {
  margin: 0;
  padding: 0;
  display: inline;
}

#subnav ul li:after {
	content: "  |  ";
}

#subnav ul li.last:after {
	content: "";
}

#subnav ul li a {
  color: #423F32;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

#subnav ul li a:hover {
  text-decoration: underline;
}

#header {
  background: url(../assets/images/production/global/bgHeader.jpg) no-repeat top center;
  height: 165px;
  padding: 0 20px;
  overflow:hidden;
}

#header #logo img {
	height: 135px;
	width: 190px;
}

#header h1 a {
  display: block;
  float: left;
  height:135px;
  width: 450px;
  text-indent: -9000px;
}
#header h2 a {
  display: block;
  float: left;
  height:135px;
  width: 180px;
  text-indent: -9000px;
}	

#header #search {
  float: right;
  width: 200px;
  height: 30px;
  margin-top: 103px;
}

#edit-search-theme-form-1 {
  background: #CBCBCB;
  padding: 6px;
  border: 1px solid #B8B8B8;
  color: #777;
  width: 150px;
  float: left;
  font-size: 11px;
}

#edit-submit-2 {
  float: right;
  margin: 0 2px;
}

#header ul {
  height: 28px;
  font-size: 14px;
  color: #FFF;
  clear: both;
  font-family: 'Trebuchet MS',Arial,Tahoma,Verdana;
}	

#header ul li {
  float: left;
  height: 20px;
  padding-top: 8px;
  padding-right: 16px;
  padding-left: 16px;
  display: inline;
  color: #FFF;
}

#header ul li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
}

#header ul li a:hover {
  color: #FFF;
  text-decoration: underline;
}

#header ul .first, #header ul .menu-816 {
  background: url(../assets/images/production/global/bgFocus.jpg) repeat-x top center;
  width: 172px;
  margin-right: 2px;
  padding:8px 0 0;
  text-align: center;
  font-size: 14px;
}

#header ul .nav {
  margin: 0 13px;
}

#header .searchBox {
  float: right;
  display: inline;
  margin: 4px 90px 0 0;
  border: 1px solid #DEDEDE;
  padding: 4px;
  width: 150px;
}

#content-top {
  background: url("../assets/images/production/global/bgContent.jpg") repeat-y scroll center top transparent; 
  padding: 0 20px;
}

/* BANNER STYLES */ 

#bannerHome {
  background: url(../assets/images/production/home/bgBanner.jpg) no-repeat top center; 
  /* height: 325px; */
  padding: 0 20px;
}

#bannerInside {
  background: url(../assets/images/production/home/bgBanner.jpg) no-repeat top center; 
  height: 200px;
  padding: 0 20px;
}

#sd_header {
background:url("../assets/images/production/home/bgBanner.jpg") no-repeat scroll center top transparent;
margin-left:auto;
margin-right:auto;
text-align:center;
width:1000px;
}

/* CONTENT STYLES */   

#content {
  padding: 10px 35px;
  background: url(../assets/images/production/global/bgContent.jpg) repeat-y top center; 
  font-size: 13px;
  line-height: 19px;
}

#content p {
  padding: 7px 0;	
  line-height: 20px;
}

#content h1 {
	color:#E80022;
	font-size:140%;
	font-weight:bold;
	padding-bottom:10px;
}

#content h2 {
  font-size: 18px;
  font-weight: bold;
  padding: 10px 0 4px 0;
  color: #E80022;
}

#content h3 {
color:#222222;
font-size:130%;
font-weight:bold;
margin-bottom:5px;
}

#content h4 {
  font-size: 12px;
  font-weight: bold;
  padding-top: 7px;
}

#content h5 {
  font-size: 14px;
  font-weight: bold;
  padding-top: 18px;
  color:#E80022;
  line-height: 14px;
}

#content h6 {
	font-size:110%;
	font-weight:bold;
	color:#222;
	margin:10px 0 5px 0;
}

/* COLUMNS STYLES */

.column.center {
	float: left;
	width: 700px;
}


.sidebar {
	float: left;
	width: 210px;
}

#column {
  float: right;
  width: 725px; 
}

#columnAlt {
  float: right;
  width: 475px;
  margin-right: 20px;
}

#columnThin, {
  float: left;
  width: 200px; 
}

#columnA {
  float:left;
  width: 310px;
}

#columnB {
  float:right;
  width: 310px;
  margin-top:25px;
}

.subColumnA {
  float: left;
  display: inline;
  width: 225px;
  margin-right: 7px;
}

.subColumnB {
  float: left;
  display: inline;
  width: 260px;
} 

.subColumnC {
  float: left;
  display: inline;
  width: 255px;
} 

.subColumnD {
  float: left;
  display: inline;
  width: 300px;
}

#sd_content_left  {
float:left;
padding-bottom:20px;
padding-left:10px;
padding-top:20px;
width:210px;
}

#sd_content_right {
float:right;
line-height:165%;
padding-bottom:20px;
padding-right:15px;
padding-top:20px;
width:650px;
}

.feature  {
color:#222222;
font-size:120%;
padding-bottom:15px;
padding-top:15px;
}

.grayBorder  {
border:2px solid #DEDEDE;
}

.quicktabs_tabpage .columns {
float:left;
margin:10px 0;
width:49%;
}

.quicktabs_tabpage .floatRightWhite2 {
float:right;
margin:10px;
width:475px;
}

.quicktabs_tabpage .floatLeftWhite  {
float:left;
margin:10px;
width:300px;
}

/* WRAPPER STYLES */

.wrapperColumnHome {
  padding: 0 15px;
  min-height: 180px;
}

.wrapperColumnHome p {
  font-size: 11px;
}

.wrapperColumnHome p a {
  color: #000;
}

.wrapperColumnHome p a:hover {
  color: red;
}

/* FEATURE STYLES */  

.photoThumb {
  background: url(../assets/images/production/global/bgPhotoThumb.jpg) no-repeat top center;
  width: 225px;
  height: 120px;
}

.photoThumb img {
  margin: 13px 0 0 13px;
  border: 1px solid #777;
}

/* FONT STYLES */  

.highlight {
  font-size: 12px;
}

.right {
  text-align: right;
}

/* FLOAT STYLES */  

.floatLeft {
  float: left;
  margin: 0 10px 0 0;
}

.floatRight {
  float: right;
  margin: 10px 10px 0 0;
  border: none;
}

.right {
  text-align: right;
}

/* FOOTER STYLES */  

#footer {
  background: url(../assets/images/production/global/bgContentFooter.jpg) no-repeat top center; 
  width: 1000px;
  margin: 0 auto;
  padding: 30px 0;
  font-size: 11px;
  color: #897458;
}

#footer a {
  color: #897458;
  text-decoration: none;
}

#footer a:hover {
  text-decoration: underline;
}

#footer ul {
  float: left;
  width: 200px;
  margin: 0 0 0 40px;
}

#footer ul li {
  margin: 4px 0;
}

/* LIST STYLES */  

.listSquare {
  margin: 20px;  
}

.listSquare li, .listSquare .item-list ul li {
  margin: 5px 0 4px;
  list-style: square;
  line-height: 1.4em;
}

.listInline {
  margin: 20px;  
}

.listInline li {
  margin: 0 5px;
  display: inline;
  list-style: none;
}

/* RIGHT COLUMN STYLES */  

#columnThinRight {
	float: right;
	width: 210px;
	padding-top:20px;
	padding-right:15px;	
	padding-bottom: 20px;	
	font-size: 80%;
	line-height:165%;
	}

.resources {
	width:190px;
	margin:0 0 10px 0;
	background:#F7F3E9 url(../assets/images/production/secondary/bgResources.png) no-repeat;
	border:1px solid #EFE7D5;
	padding:10px;	
	/* font-size:80%; */
	}	

.right-sidebar {
	float: right;
	margin: 0 0 10px 10px;
	}

.resources p { 
	font-size: 12px;
	font-style: italic;
	padding-bottom: 7px; 
	}	

/* INSTITUTES STYLES */ 

.node-type-institute .block-banner {
	background: none;
	padding: 0;
	margin: 0;
}

.node-type-institute .block-banner .image-attach-body {
	float: none;
	margin: 0;
}

.node-type-institute #content {
	padding: 0 20px 10px;
	}
	
.node-type-institute .column.center {
	width: 755px;
}
.node-type-institute .sidebar {
	width: 205px;
	background: url("../assets/images/production/inside/institutesNew/bgMorgan.jpg") no-repeat scroll center top transparent;
	min-height: 625px;
}

#menu-header-image {
	width: 205px;
	height: 160px;
	background: url("../assets/images/production/inside/institutesNew/landingMsg.jpg") no-repeat;
	}
#menu-header-image.center-practice {
	width: 205px;
	height: 211px;
	background: url("../assets/images/production/inside/institutesNew/pic-mediation.jpg") no-repeat;
	}
#menu-header-image.corporate-law-center {
	width: 205px;
	height: 239px;
	background: url("../assets/images/production/inside/institutesNew/corporate.jpg") no-repeat;
	}
#menu-header-image.ohio-innocence-project {
	width: 205px;
	height: 166px;
	background: url("../assets/images/production/inside/institutesNew/prison.jpg") no-repeat;
	}
#menu-header-image.weaver-institute {
	width: 205px;
	height: 214px;
	background: url("../assets/images/production/inside/institutesNew/psychiatry.jpg") no-repeat;
	}
#menu-header-image.urban-morgan-institute {
	width: 205px;
	height: 160px;
	background: url("../assets/images/production/inside/institutesNew/lady.jpg") no-repeat;
	}
#menu-header-image.rgsj {
	width: 205px;
	height: 200px;
	background: url("../assets/images/production/inside/institutesNew/socialjustice.jpg") no-repeat;
	}

.node-type-institute .institute-container {
	margin: 15px 20px;
}

.node-type-institute .institute-container .resources {
	background:none;
	border:0px solid #EFE7D5;
}

#sidebar {
  float: right;
  width: 205px;
  margin-right: 16px;
}

#columnInstitutes {
  float: right;
  width: 500px;
  margin-right: 15px; 
}

#columnInstitutesWide {
  float: right;
  width: 705px;
  margin-right: 15px; 
}

#columnSubNav {
  float: left;
  width: 205px; 
  background: url(../assets/images/production/inside/institutesNew/bgMorgan.jpg) no-repeat top center;
  min-height: 625px;
}

#columnRight {
  float: right;
  width: 755px;
}

#contentInstitute {
  padding: 0 19px 10px 21px;
  background: url(../assets/images/production/global/bgContent.jpg) repeat-y top center; 
  font-size: 13px;
}

#contentInstitute p {
  padding: 7px 0;	
  line-height: 20px;
}

#contentInstitute h2 {
  font-size: 18px;
  font-weight: bold;
  padding: 10px 0 4px 0;
  color: #E80022;
}

#contentInstitute h3 {
  font-size: 13px;
  margin: 5px 0;
  font-weight: bold;
}

#contentInstitute h4 {
  font-size: 12px;
  font-weight: bold;
  padding-top: 7px;
}

#contentInstitute h5 {
  font-size: 14px;
  font-weight: bold;
  padding-top: 18px;
  color:#E80022;
  line-height: 14px;
}

#contentInstitute h6 {
  font-size: 12px;
  font-weight: bold;
  color:#E80022;
}

.subNavInstitutes {
  margin: 0 20px 0 7px;
  font-size: 11px;
  padding-bottom: 5px;
  border-bottom: 1px dashed #555;
}

.subNavInstitutes li {
  line-height: 12px;
  margin-bottom: 7px;
}

.subNavInstitutes li a {
  color: #222;
  text-decoration: none;
}

.subNavInstitutes li a:hover {
  color: #000;
  text-decoration: underline;
}

.paddingSubNav {
  padding: 5px 0 5px 0; 
}

#instituteSubNav {
  padding: 0 10px 0 20px;
}

#instituteSubNav h3 a {
  color: #222;
  text-decoration: none;
}

#instituteSubNav h3 a:hover {
  color: #000;
  text-decoration: underline;
}

#instituteBanner {
  width: 755px;
  height: 300px;
  padding-bottom: 15px;
}

.pane-content .view li {
	list-style: none inside none;
	margin: 6px 0;
}
.pane-content .view li div{
	margin: 2px 0;
}

/* ABOUT US EXCEPTIONS */
/*.section-about-us ul.nice-menu-right {
background:none repeat scroll 0 0 transparent;
border:medium none;
list-style:none outside none;
padding:0;
position:relative;
top:-1px;
width:160px;

font-size:13px;
margin:5px 0 15px 25px;
}

.section-about-us ul.nice-menu-right li {
margin: 5px 0 4px 0;
width:160px;
background:none repeat scroll 0 0 transparent;
border:medium none;
cursor:pointer;
float:left;
list-style:square outside none;
}

.section-about-us ul.nice-menu-right a {
background:none repeat scroll 0 0 transparent;
border:none;
color:#E80022;
text-decoration: none;
padding: 0;
}
.section-about-us ul.nice-menu-right li:hover a {
	color: #000;
	text-decoration:none;
}
*/
/* END ABOUT US EXCEPTIONS */



/* HOMEPAGE COLUMN STYLES */
.pane-title {
	width: 225px;
	height: 65px;
	text-indent: -9000px;
	border: 0px !important;
	padding: 0px !important;
}
.panel-col-first .pane-title {
	background: url('../assets/images/production/home/headers/headerSupport.jpg') no-repeat center top;
}
.panel-col-second .pane-title {
	background: url('../assets/images/production/home/headers/headerNews.jpg') no-repeat center top;
}
.panel-col-third .pane-title {
	background: url('../assets/images/production/home/headers/headerEvents.jpg') no-repeat center top;
}
.panel-col-last .pane-title {
	background: url('../assets/images/production/home/headers/headerAcademics.jpg') no-repeat center top;
}

.panel-col h3,
.panel-col .views-field-title,
.panel-col .views-field-field-datetime-value {
color:#E80022 !important;
font-size:12px !important;
font-weight:bold !important;
}

.panel-col a {
color: #000000 !important;
font-size: 10px !important;
font-weight: normal !important;
}

.panel-col a:hover {
color:#E80022 !important;
}

.panel-4col .panel-col {
	height: 370px;
}

.block-banner {
  background: url(../assets/images/production/home/bgBanner.jpg) no-repeat top center; 
  padding: 0 20px;
	}

.block-banner h2,
.block-banner .print-link{
	display: none;
}

a.slide {
	}

/* SOME TAB CORRECTION STUFF */
.quicktabs_tabpage #attachments {
	display: none;
}

/* TABLE STYLES */	

table a,
table a:link,
table a:visited {
	color:#666;
	text-decoration:underline;
	}

table a:hover {
	text-decoration:none;
	color:#333;
	}	
			
table {
	width:100%;
	border-top:1px solid #DEDEDE;
	border-right:1px solid #DEDEDE;
	margin:1em auto;
	border-collapse:collapse;
	}
	
table img {
	border:0;
	margin-top:.5em;
	}		
	
caption {
	color: #000;
	font-size:1.2em;
	letter-spacing:.1em;
	padding:0;
	margin:1em 0 0 0;
	margin-bottom:0;
	caption-side:top;
	text-align:center;
	}	
	
tr.odd td,
tr.odd .column1 {
	background:#F7F7F7 url(/faculty/colloquia/images/bgTable.gif) no-repeat;
	}	
	
.column1 {
	background:#f9fcfe;
	}
	
td {
	color:#666;
	border-bottom: 1px solid #DEDEDE;
	border-left:1px solid #DEDEDE;
	padding:.3em 1em;
	text-align:left;
	min-width: 100px;
	}
	
.tableDate {
	width: 85px;
	}	
	
.tableSpeaker {
	width: 150px;
	}		
					
th {
	font-weight:normal;
	color: #678197;
	text-align:left;
	border-bottom: 1px solid #DEDEDE;
	border-left:1px solid #DEDEDE;
	padding:.3em 1em;
	}	
	
thead th {
	background:#F0F0F0;
	text-align:left;
	font-weight:bold;
	font-size:1.2em;
	color:#333
	}	
				
tfoot th {
	background:#CCC;
	text-align:center;
	border:none;
	}
		
tfoot th strong {
	font:bold 1.2em;
	margin:.5em .5em .5em 0;
	color:#66a3d3;
	}
				
tfoot th em {
	color:#f03b58;
	font-weight: bold;
	font-size: 1.1em;
	font-style: normal;
	}

/* ADDED CLEANUP STYLES */

.blog {
	background:#F7F7F7;
	border:1px solid #DEDEDE;
	margin:10px 15px 10px 10px;
	padding:10px;
	float: left;
	width: 325px;
	height: 185px;
	display: inline;
	}
	
.blog img {
	width:100px;
	height: 140px;
	}		

.blogStudent {
	background:#F7F7F7;
	border:1px solid #DEDEDE;
	margin:10px 15px 10px 10px;
	padding:10px;
	float: left;
	width: 325px;
	height: 370px;
	display: inline;
	font-size: 11px;
	}
	
.vCard {
	float: left;
	width: 225px;
	height: 200px;
	display: inline;
	margin: 0 0 0 10px;
	}
	
.imageLeft {
	float: left;
	margin: 0 25px 0 0;
	padding: 2px;
	border: double #CCC;
	}
	
.imageBlog {
	float: left;
	margin: 0 25px 0 0;
	padding: 2px;
	border: double #CCC;
	}	
	
/* UC LAW GENERAL LIST STYLES */	

.listSquare {
	margin:5px 0 15px 25px;
	font-size: 13px;
	}	
	
.listSquare li {
	list-style:square;
	margin-bottom: 4px;
	}
	
.listQuickLinks {
	margin:5px 0 15px 25px;
	font-size:80%;
	}	
	
.listQuickLinks li {
	list-style:square;
	padding: 3px 0;
	}	
	
.listPub{
	margin:-10px 0 25px 50px;
	}	
	
.listPub li {
	list-style:square;
	}
	
.listSeries{
	margin:0px 0 25px 15px;
	}	
	
.listSeries li {
	list-style:none;
	}		
	
.listSquareSub {
	margin:5px 0 15px 25px;
	}	
	
.listSquareSub li {
	list-style:square;
	}		
	
.listNone {
	margin:5px 0 15px 25px;
	}	
	
.listNone li {
	list-style:none;
	}	
		
.listRoman {
	margin-top:10px;
	margin-bottom:10px;
	margin-left:45px;
	}	
	
.listRoman li {
	list-style:upper-roman;
	}			
	
.listDecibal {
	margin-top:10px;
	margin-bottom:10px;
	margin-left:45px;
	}	
	
.listDecibal li {
	list-style:decimal;
	}
	
.listInline  {
	margin: 0 0 10px 15px;
	}

.listInline li {
	display: inline;
	}	
	
.listInline li img {
	height: 35px;
	margin-right: 10px;
	}
	
#sd_content_right .columns, #sd_content .columns, #content .columns {
	float:left;
	width:47%;
	margin:10px 0;
	}
	
	dl.sd_tbl dt {
  	float: left;
  	width: 150px;
  	text-align: left;
	color:#E80022;
	font-weight:bold;
	}

dl.sd_tbl dd {
  	margin-left: 160px;
	margin-top:5px;	
	margin-bottom: 5px;	
	}
	
.sd_tbl {
	margin-bottom:15px;
	}	
	
dl.sd_tblII dt {
  	float: left;
  	width: 220px;
  	text-align: left;
	color:#E80022;
	font-weight:bold;
	}

dl.sd_tblII dd {
  	margin-left: 230px;
	margin-top:5px;	
	margin-bottom: 15px;	
	}
	
.sd_tblII {
	margin-bottom:15px;
	margin-left:20px;
	}
	
dl.sd_tbl_response dt {
  	float: left;
  	width: 110px;
  	text-align: left;
	color:#E80022;
	font-weight:bold;
	}

dl.sd_tbl_response dd {
  	margin-left: 120px;
	margin-top:5px;	
	margin-bottom: 15px;	
	}
	
.sd_tbl_response {
	margin-bottom:15px;
	margin-left:20px;
	}			
	
dl.header_tbl dt {
  	float: left;
  	width: 220px;
	margin-left:20px;
  	text-align: left;
	color:#666;
	font-weight:bold;
	}

dl.header_tbl dd {
  	margin-left: 250px;
	color:#666;
	font-weight:bold;
	}
	
.header_tbl {
	margin-bottom:15px;
	background-color:#f7f7f7;
	border: 1px solid #CCC;
	}	
	
dl.header_response_tbl dt {
  	float: left;
  	width: 110px;
	margin-left:20px;
  	text-align: left;
	color:#666;
	font-weight:bold;
	}

dl.header_response_tbl dd {
  	margin-left: 120px;
	color:#666;
	font-weight:bold;
	}
		
.rightImageNews {
	float:right;
	width:100px;
	margin:10px;
	border:2px solid #CCC;
	}							

.subjectSelection {
	margin: 5px 0 15px 0;
	background: #F1F1F1;
	padding: 3px;
	border: 1px solid #CCC;
	}	

.highlightContainer {
	background:#F7F7F7;
	border:1px solid #DEDEDE;
	margin:10px 0 10px 0;
	padding:10px;
	width:880px;
	}		
	
.highlightContainer .left {
	float:left;
	width:35%;
	}
	
.highlightContainer .leftColumn {
	float:left;
	width:45%;
	padding-left:15px;
	}						
	
.highlightContainer .input {
	width:300px;
	}	
	
#leader {
	float: left;
	width: 600px;
	display: inline;
	margin: 0 0 0 10px;
	}	

.leader {
	width: 175px;
	float: left;
	font-weight: bold;
	color: #E80022;
	}
	
.quicktabs_tabpage table.sticky-header {
	display: none;
}

.print-link {
  float: right;
  width: 20px;
}
	
.flickr-photo-img {
	padding:4px 5px;
	}
	
.smallCaps, .truecaps { 
	font-variant: small-caps;
	}	
	
.italic { 
	font-style: italic;
	}
	