/* CSS Document */

html {
scrollbar-highlight-color: #cccccc;
scrollbar-shadow-color: #999999;
scrollbar-track-color: #333399;
scrollbar-face-color: #ffffff;
scrollbar-arrow-color: #333399;
scrollbar-darkshadow-color: #000000;
scrollbar-3dlight-color: #333333;
}

body {
margin: 0px 0px 20px 0px;
background: #ffffff;
color: #000000;
font-family: verdana, arial, helvetica, sans-serif;
font-size: 10px;
line-height: 14px;
}

table {
margin: 0px 0px 00px 0px;
background: #ffffff;
color: #000000;
font-family: verdana, arial, helvetica, sans-serif;
font-size: 10px;
line-height: 14px;
}

a {	text-decoration: underline;
	color: #333399;
	}

a:link {     text-decoration: underline;
	color: #333399;
	}

a:visited {  text-decoration: underline;
	color: #333399;
	}

a:active {  text-decoration: underline;
	color: #333399;
	}

a:hover {  text-decoration: underline;
	color: #FF0000;
	}



h1 {
	font-size: 14px;
	font-weight: bold;      
	line-height: 140%;   
	letter-spacing: 2px;
     margin: 0px;
	 padding: 0px;
		}

h2 {
	font-size: 12px;
	font-weight: bold;      
     line-height: 140%;
word-spacing: 2px;
     margin: 0px;
	 padding: 0px;
	 }

h3 {
	font-size: 10px;
	font-weight: bold;      
line-height: 140%;
word-spacing: 2px;
     margin: 0px;
	 padding: 0px;
	 }

.caseheader {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 14px;
	line-height: 140%;
	font-weight: bold;
	color: #333399;
	padding-bottom: 10px;
}



